<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- database -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql:///ssh_item1</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		<!-- configuration -->
		<property name="show_sql">true</property>

		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>

		<!-- Mapping -->
		<mapping resource="com/xxx/oa/domain/User.hbm.xml"/>
		<mapping resource="com/xxx/oa/domain/Role.hbm.xml"/>
		<mapping resource="com/xxx/oa/domain/Department.hbm.xml"/>
		<mapping resource="com/xxx/oa/domain/Privilege.hbm.xml"/>
		
		<mapping resource="com/xxx/oa/domain/Forum.hbm.xml"/>
		<mapping resource="com/xxx/oa/domain/Topic.hbm.xml"/>
		<mapping resource="com/xxx/oa/domain/Reply.hbm.xml"/>
		
		
	</session-factory>


</hibernate-configuration>